{
  "environment": {
    "dbConnection": {
      "mainDbConnectionString": "mongodb://192.168.49.2:27017/loopool",
      "sysDbConnectionString": "mongodb://192.168.49.2:27017/loopool-system"
      },
   "production": {
      "useMinifiedJS": false
      }
    },
    "build": {
      "releaseVersion": "0.0.1",
      "releaseDate": "06/18/2023"
    }
}