extends mainLayout

block content

    #pageHeader
        #titleWrapper
            h1 loopool
            h3 Web-tier load generator

    #navBar
        <div id="tabs">
        <ul>
        <li><a href='#tabs-1'><span id='focusTabs1'></span></a></li>
        <li><a href='#tabs-2'><span id='focusTabs2'></span></a></li>
        <li><a href='#tabs-3'><span id='focusTabs3'></span></a></li>
        <li><a href='#tabs-4'><span id='focusTabs4'></span></a></li>
        <li><a href='#tabs-5'><span id='focusTabs5'></span></a></li>
        <li><a href='#tabs-6'><span id='focusTabs6'></span></a></li>
        </ul>
        
        <div id="tabs-1">
        #viewerTab
            #openPositionsTable

            #ruleFactsTable
                <span id="factsTableSpan"></span>

            p
                #historyTable

                
        </div>
        
        <div id="tabs-2">
        </div>
        
        <div id="tabs-3">
        </div>

        <div id="tabs-4">
        </div>

        <div id="tabs-5">
        </div>

        <div id="tabs-6">
        </div>

        </div>
        
    #versionBar
