doctype html
html
  head
    title= title
    meta(name='releaseVersion', content=releaseVersion)
    meta(name='releaseDate', content=releaseDate)
    meta(name='reqHeaders', content=reqHeaders)
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')  
    link(rel='stylesheet', href='/styles/style.css')
    
  body
    block content
    script(src='/javascripts/main.js')
