extends queryLayout

block content

    #pageHeader
        #titleWrapper
            h1 loopool
            h3 Web-tier load generator

    #userArea
        #userInfo
        #userControls

    #resultsArea
        #loadMetrics
        
    #versionBar
