body {
	font: 14px Times New Roman, sans-serif;
	background-image: url('');
	background-color: darkblue;
}

h0 {
	font: 32px Times New Roman, sans-serif;
	text-align: center;
}

h1 {
	font: 32px Times New Roman, sans-serif;
}

h2 {
	font: 24px Times New Roman, sans-serif;
	color: goldenrod;
}

h3 {
	font: 16px Times New Roman, sans-serif;
}

h4 {
	padding-left: 10px;
	font: 12px Times New Roman, sans-serif;
}

#pageHeader {
	display: flex;
	flex-flow: row;
}

#titleWrapper {
	width: 95%;
	margin: 0 auto;

	background: lightgray;
	text-align: center;
}

#titleWrapper a {
	font: 32px Times New Roman, sans-serif;
	color: gold;
	float: left;
	padding: 10px;
}

#userArea {
	padding: 25px;

	display: flex;
	flex-direction: row;
	align-items: space-between;
}

#userInfo {
	height: auto;

	margin: 0 auto;
	padding: 25px;

	border: 2px solid gold;

}

#userInfo h2 {
	font: 24px Helvetica;
	color: gold;
}

#userInfo td {
	font: 14px Courier;
	color: whitesmoke;

	border: 1px solid black;

	padding: 10px;
}

#userControls {
	height: auto;
	
	margin: 0 auto;
	padding: 25px;

	border: 2px solid silver;

}

#userControls h2 {
	font: 24px Helvetica;
	color: silver;
}

#userControls h3 {
	font: 12px Helvetica;
	color: silver;
}

#userControlsButtonPad {
	display: flex;
	flex-direction: row;
}

#userControlsButtonPad button {
	width: 250px;
	height: 50px;

	font: 18px Helvetica;
}

.userControlsValues {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding-top: 25px;
}

#resultsArea {
	padding: 25px;

}

#loadMetrics {
	height: 250px;
	width: 80%;

	margin: 0 auto;
	
	border: 2px solid gold;
}

#loadMetrics h2 {
	font: 24px Helvetica;
	color: gold;

	text-align: center;
}

#loadMetrics h3 {
	font: 18px Helvetica;
	color: silver;

	text-align: center;
}

#loadMetrics th {
	font: 12px Courier;
	color: silver;

	border: 2px solid silver;

	padding: 10px;
}

#loadMetrics td {
	font: 14px Courier;
	color: whitesmoke;

	border: 1px solid silver;

	padding: 10px;
}

#latestEvents {
	height: auto;
	width: auto;

	margin: 0 auto;
	
	border: 2px solid gold;
}

#latestEvents h2 {
	font: 24px Helvetica;
	color: gold;

	text-align: center;
}

#latestEvents h3 {
	font: 18px Helvetica;
	color: silver;

	text-align: center;
}

#latestEvents th {
	font: 16px Helvetica;
	color: silver;

	text-align: center;

	border: 2px solid silver;

	padding: 10px;
}

#latestEvents td {
	font: 14px Courier;
	color: whitesmoke;

	border: 1px solid silver;

	padding: 10px;
}

